* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.signup-login-section {
    width: 100%;
    height: 70%;
}

.landing-img {
    height: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(job-collab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 6px 6px 15px black;
    font-size: 130px;
    text-align: center;
    margin-top: 20%;
}

/* .form-switch-box {
    padding: 14px;
} */

.signup-login-box {
    height: 100%;
    padding: 20px;
    background-color: #383544;
}

.form-switch-box button {
    border: none;
    background-color: #c8c8c7;
    color: #232d36;
    font-size: 20px;
    padding: 10px;
}

.form-switch-box button:hover {
    background-color: #7a8385;
    filter: brightness(125%);
}

/* button.switch-selected:hover {
    filter: brightness(100%);
} */

.form-switch-box button.switch-selected {
    background-color: #7a8385;
    color: #232d36;
}

/* .signup-login-section, .site-features-section {
    max-width: 1200px;
} */

.signup-login-box fieldset {
    margin: 0;
    padding: 0;
}

.signup-login-box legend {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #c8c8c7;
    color: #232d36;
}

.signup-login-section fieldset {
    border: none;
}

.signup-login-box input {
    border: none;
    background-color: #c8c8c7;
    color: #232d36;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
}

::placeholder {
    color: #232d36;
}

.signup-login-box fieldset button {
    border: none;
    background-color: #7a8385;
    color: #232d36;
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 6px;
    margin-top: 15px;
}

button[type="submit"]:hover {
    filter: brightness(125%);
}

.site-features-section {
    height: 30%;
}

.site-features {
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #383544;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 150%;
}

.side-menu {
    background-color: #383544;
    color: white;
    float: left;
    width: 20%;
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0; */
    padding-right: 1%;
}

.side-menu li {
    padding-left: 10px;
    margin-left: -12%;
    font-size: 17px;
    border: 1px solid #05386b;
    border-bottom: 1px solid white;
}

.menu-list li:hover {
    border: 1px solid white;
}

li.task-list:hover {
    border: 1px solid #05386b;
    border-bottom: 1px solid white;
}

li.active-tab {
    background-color: #074b8f;
    border: 1px solid #05386b;
    border-bottom: 1px solid white;
}

li.task-list {
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

.task-list ul {
    margin-left: -5%;
}

.task-list ul li {
    text-align: center;
    padding: 12px;
    font-size: 18px;
}

.dashboard, .task-box, .email-box, .stats-box {
    margin-left: 20%;
}

.stats-box h2 {
    text-align: center;
    margin-bottom: 50px;
}

.task-box fieldset {
    border: none;
}

.task-box legend {
    text-align: center;
    width: 100%;
}

.task-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.task-box input, .task-box textarea {
    background-color: #edf5e1;
    color: #05386b;
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.task-box textarea {
    height: 200px;
}

.task-box button {
    border: none;
    background-color: #05386b;
    color: white;
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 6px;
    margin-top: 15px;
    margin-top: 32px;
}

/* footer {

} */

@media only screen and (max-width: 640px) {
    .signup-login-section {
        height: 50%;
    }

    h1 {
        font-size: 50px;
        margin-top: 40%;
    }

    .signup-login-box {
        height: auto;
    }
}