* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.landing-img {
    margin-top: 13px;
}

.form-switch-box {
    padding: 14px;
    margin-bottom: 5px;
}

.form-switch-box button {
    border: none;
    background-color: #edf5e1;
    color: #05386b;
    font-size: 20px;
    padding: 10px;
}

.form-switch-box button:hover {
    background-color: #8ee4af;
}

button.switch-selected:hover {
    filter: brightness(100%);
}

.form-switch-box button.switch-selected {
    background-color: #05386b;
    color: white;
}

.signup-login-section, .site-features-section {
    max-width: 1200px;
}

.signup-login-section {
    margin-top: 80px;
}

.signup-login-box legend {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #8ee4af;
    color: #05386b;
}

.signup-login-section fieldset {
    border: none;
}

.signup-login-box input {
    border: none;
    background-color: #edf5e1;
    color: #05386b;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
}

.signup-login-box fieldset button {
    border: none;
    background-color: #05386b;
    color: white;
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 6px;
    margin-top: 15px;
}

button[type="submit"]:hover {
    filter: brightness(125%);
}

.site-features {
    font-weight: bold;
    font-size: 25px;
    color: #05386b;
    background-color: #edf5e1;
}

.side-menu {
    background-color: #05386b;
    color: white;
    float: left;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 1%;
}

.side-menu li {
    padding-left: 10px;
    margin-left: -12%;
    font-size: 17px;
    border: 1px solid #05386b;
    border-bottom: 1px solid white;
}

.menu-list li:hover {
    border: 1px solid white;
}

li.task-list:hover {
    border: 1px solid #05386b;
    border-bottom: 1px solid white;
}

li.active-tab {
    background-color: #074b8f;
    border: 1px solid #05386b;
}

li.task-list {
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

.task-list ul {
    margin-left: -5%;
}

.task-list ul li {
    text-align: center;
    padding: 12px;
    font-size: 18px;
}

.dashboard, .task-box, .email-box, .stats-box {
    margin-left: 20%;
}

.stats-box h2 {
    text-align: center;
    margin-bottom: 50px;
}

.task-box fieldset {
    border: none;
}

.task-box legend {
    text-align: center;
    width: 100%;
}

.task-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.task-box input, .task-box textarea {
    background-color: #edf5e1;
    color: #05386b;
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.task-box textarea {
    height: 200px;
}

.task-box button {
    border: none;
    background-color: #05386b;
    color: white;
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 6px;
    margin-top: 15px;
    margin-top: 32px;
}