* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #383544;
}

main {
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.landing-img {
    height: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(../images/job-collab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 6px 6px 15px black;
    font-size: 130px;
    text-align: center;
    margin-top: 20%;
}

.signup-login-box fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.signup-login-box legend {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 5%;
    margin-bottom: 15px;
    width: 100%;
    color: white;
}

.signup-login-box input {
    border: none;
    border-radius: 2px;
    background-color: #c8c8c7;
    color: #232d36;
    width: 90%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
}

::placeholder {
    color: #232d36;
}

.signup-login-buttons {
    margin: 5%;
}

.signup-login-box button {
    border: none;
    background-color: #7a838583;
    color: white;
    display: block;
    font-size: 20px;
    padding: 3%;
}

.signup-btn {
    border-radius: 3px 0 0 3px;
}

.login-btn {
    border-radius: 0 3px 3px 0;
}

.signup-login-box button.switch-selected {
    background-color: #7a8385;
}

.signup-login-box button:hover {
    background-color: #c8c8c7;
    color: #232d36;
    transition: 0.15s;
}

.site-features {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 5%;
    margin-top: 9%;
    line-height: 150%;
}

.calendar {
    margin: 5%;
    text-align: center;
    font-size: 40px;
    color: white;
}





footer {
    background-color: #c8c8c7;
    text-align: center;
}

.contact-box {
    display: inline-block;
    width: 75%;
}

.contact-box p {
    float: left;
    color: #232d36;
    padding: 0;
    border: 0;
    margin-top: 12px;
    margin-bottom: 11px;
    font-size: 18px;
}

.contact-links {
    float: right;
}

.contact-links i {
    color: #383544;
    font-size: 30px;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 640px) {
    .signup-login-section {
        height: 50%;
    }

    h1 {
        font-size: 50px;
        margin-top: 40%;
    }
}